nav {
    background-color: #669bbc; 
    padding: 10px;
}
.hero div {

    position: relative;
    
}
.hero h1 {

    position: absolute;
}

.hero article { 

    position: absolute;

}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}
