*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header nav {
    background-color: #669bbc; 
    padding: 10px;
    text-align: right;
}
header nav a {
    margin: 0;
    border: 1px solid;
    padding: 1rem;
    background-color: #003049;
    color: #fdf0d5;
    

}


.hero div {

    position: relative;
    
}
.hero h1 {

    position: absolute;
}

.hero article { 

    position: absolute;
    background-color: #003049;
    width: 100%;

}

.hero p {

    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #fdf0d5;
    color: #669bbc;
    text-align: center;
}



.hero img {

    display: block;
    width: 100%;
    height: auto;
    float: right;
}

footer nav a img { 
    width: 50px;
    float: right;
}