.road-rage-regular {
    font-family: "Road Rage", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.romanesco-regular {
    font-family: "Romanesco", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 0;
    border: 1px solid;
    padding: 1rem;
    background-color: #003049;
}



header nav {
    background-color: #669bbc; 
    padding: 30px;
    text-align: right;
    
}
header nav a {
    margin: 0;
    border: 1px solid;
    padding: 1rem;
    background-color: #003049;
    color: #fdf0d5;
    text-decoration: none;

}


.hero div {

    position: relative;
    width: 100%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #669bbc ;
    color:  #fdf0d5;
    text-align: center;
}
.hero h1 {
    
    position: relative;
   
}

.hero article { 

    position: relative;
    

}

.hero article p {

    position: relative;
    width: 100%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #669bbc ;
    color:  #fdf0d5;
    text-align: center;
    top: auto;
}



.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;

}

section {

    width: 100%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color: #fdf0d5 ;
    text-align: justify;
    color: black;
    position: relative;
}



footer nav a img { 
    width: 50px;
    float: right;
}